.client-cont{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 95vh;
}

.grid {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    height: 90vh;
}

.users-input{
    width: 50%;
}

.users-search{
    align-items: center;
    display: flex !important;
    gap: 1%;
    justify-content: center;
}

